<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}May The 4th Be With You{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" type="text/css">
            <style type="text/css">
                body{
                    background-color: black;
                }
                img[alt="May the fourth be with you"]{
                    display: block;
                    margin: 50px auto 0 auto;
                }
                a{
                    color: #FFD200
                }
                a:hover{
                    color: #b99800;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('index') }}">Star Wars Dash Board</a>
                    </div>
                    <ul class="nav navbar-nav">
                        {% if is_granted("ROLE_USER") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Gestionnaire de vaisseaux <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('crock_star_ship_manager_homepage') }}">Liste des vaisseaux</a></li>
                                    <li><a href="{{ path('crock_star_ship_manager_add') }}">Créer un vaisseau</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('crock_character_list_homepage') }}">Liste des personnages</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("ROLE_USER") %}
                            <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div id="content" class="col-xs-12">
                        {% block body %}
                            <img alt="May the fourth be with you" src="{{ asset('img/may_the_4th_be_with_you_star_wars_day1.gif') }}">
                        {% endblock %}
                    </div>
                </div>
            </div>

            <footer>
                <p class="text-center">
                    Star Wars Dash Board - version {{ version }} - Created by <a href="http://crock.fr" title="crock.fr" target="_blank">Crock</a> {{ 'now'|date('Y') }} with force
                    {% if is_granted("ROLE_USER") %}
                        <span class="pull-right"> Salut {{ app.user.username }} bienvenue !!!</span>
                    {% endif %}
                </p>
            </footer>
        </div>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>